*{

}
header{
  padding: 15px;
  background-color: #888888;
}
.title{
  color: #ffffff;
}
body{
  display:flex;
  justify-content: center;
  background-color: #dddddd;
}
.content{
  width:800px;
  background-color: #ffffff;
}
